.spinner {
  //

  &__spinner {
    width: 5rem;
    height: 5rem;
    border: .5rem solid $color-secondary;
    border-top-color: transparent;
    border-radius: 50%;
    margin: .5rem auto;
    animation: spinning 1.4s linear infinite;

    @keyframes spinning {
      0% { transform: none; }
      100% { transform: rotate(360deg); }
    }
  }

  &__text {
    text-align: center;
  }

  &--left &__spinner { margin-left: 0; }
}
