.result {
  //

  &__input {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 5;

    input {
        background-color: $color-initial;
    }
  }

  &__placeholder {
    //
  }

  &__table {
    display: table;
    width: 100%;
    max-width: 100%;
  }

  &__guide {
    text-align: center;
  }

  &__intro {
    //
  }

  &__word {
    line-height: 1.2;

    &--chinese {
      display: inline-block;
    }

    &--korean {
      font-size: .9em;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__highlight {
    display: inline-block;
    background-color: $color-primary;
    color: $color-initial;
    padding: 2px;
    border-radius: 2px;
    font-weight: bold;
  }
}
