.app {
  width: 100%;
  height: 100%;

  &__input {
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    z-index: 5;

    input {
        background-color: $color-initial;
    }
  }

  &__placeholder {
    //
  }

  &__table {
    display: table;
    width: 100%;
    max-width: 100%;
  }

  &__guide {
    text-align: center;
  }

  &__intro {
    //
  }

  &__word {
    line-height: 1.2;

    &--chinese {
      display: inline-block;
    }

    &--korean {
      font-size: .9em;
    }

    &:not(:last-child) {
      margin-bottom: .7rem;
    }
  }

  &__highlight {
    display: inline-block;
    background-color: $color-primary;
    color: $color-initial;
    padding: .2rem;
    border-radius: .2rem;
    font-weight: bold;
  }

  &__author {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    opacity: .8;
    margin-bottom: 0;
  }
}
