.app {
  width: 100%;
  height: 100%;

  @keyframes placeholderBefore {
    0% { left: 0; }
    100% { left: $container-width; }
  }

  &__input {
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    z-index: 5;

    > .container {
      display: flex;
    }

    input {
      background-color: $color-initial;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__placeholder {
    //
  }

  &__table {
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    tr { width: 100%; }
    td { width: 100%; }
  }

  &__guide {
    text-align: center;
  }

  &__intro {
    //
  }

  &__latest-word {
    cursor: pointer;
  }

  &__external-links {

    > li {
      overflow: hidden;
      word-wrap: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__word {
    position: relative;
    line-height: 1.2;

    &--chinese {
      display: inline-block;
    }

    &--korean {
      font-size: .9em;
    }

    &--placeholder {
      color: transparent;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4em;
        height: 100%;
        background: linear-gradient(90deg, rgba($color-1, 0) 0%, rgba($color-1, .6) 50%, rgba($color-1, 0) 100%);
        animation: placeholderBefore 1s linear infinite;
      }
    }

    &:not(:last-child) {
      margin-bottom: .7rem;
    }
  }

  &__word-placeholder {
    position: relative;
    border-radius: .2rem;
    color: transparent;
    overflow: hidden;

    &--background-color {
      background-color: $color-2;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4em;
      height: 100%;
      background: linear-gradient(90deg, rgba($color-1, 0) 0%, rgba($color-1, .6) 50%, rgba($color-1, 0) 100%);
      animation: placeholderBefore 1s linear infinite;
    }
  }

  &__highlight {
    display: inline-block;
    background-color: $color-primary;
    color: $color-initial;
    padding: .2rem;
    border-radius: .2rem;
    font-weight: bold;
  }

  &__author {
    text-align: right;
    line-height: 1;
    padding-bottom: 1rem;
    margin-bottom: 0;
    opacity: .8;
  }
}
