@import "https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic";
@import "~normalize.css/normalize.css";

/**
 * @see https://colorhunt.co/palette/222831393e4600adb5eeeeee
 */
$color-1: #222831;
$color-2: #393E46;
$color-3: #00ADB5;
$color-4: #EEEEEE;

/**
 * Overrides milligram's default colors
 */
$color-initial: $color-1;
$color-primary: $color-3;
$color-secondary: $color-4;
$color-tertiary: $color-2;
$color-quaternary: lighten($color-2, .2);

@import "~milligram/src/_Color";
@import "~milligram/src/_Base";
@import "~milligram/src/_Blockquote";
@import "~milligram/src/_Button";
@import "~milligram/src/_Code";
@import "~milligram/src/_Divider";
@import "~milligram/src/_Form";
@import "~milligram/src/_Grid";
@import "~milligram/src/_Link";
@import "~milligram/src/_List";
@import "~milligram/src/_Spacing";
@import "~milligram/src/_Table";
@import "~milligram/src/_Typography";
@import "~milligram/src/_Image";
@import "~milligram/src/_Utility";

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: $color-initial;
  font-size: 1.8em;
}

a {
  word-break: break-all;
}

input {
  color: $color-secondary;
}

.container {
  max-width: 64rem;
}

@import "App";
@import "components/Loading";
@import "components/Result";
@import "components/Spinner";
